.content {
    font-size : 14px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;    
}

.item-list {    
    background:#ffc; 
}

.new-item {
    margin-top: 25px;
    margin-bottom : 25px;
}

i {
    padding : 5px;
}