<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid h-100 content">
  <div class="row justify-content-center h-100">
    <div class= "col-sm-3">
    </div>
    <div class= "col-sm-6">

      <div class="form-row new-item">
          <div class="col">
              <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newItem.name" required>
          </div>
          <div class="col">
              <input type="text" class="form-control" placeholder="Type" [(ngModel)]="newItem.type" required>
          </div>
          <div class="col">
              <input type="text" class="form-control" placeholder="Favourite" [(ngModel)]="newItem.fav" required>
          </div>
          <div class="col">
              <input type="button" class="btn btn-primary" (click)=createFav() value="ADD">
          </div>
      </div>

      <table class="table item-list">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Favourites</th>
            <th>Perform</th>           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of favList">
            <td>{{item.id}}</td>
            <ng-container *ngIf="item.id==editId ; else getList"> 
              <td>
                <input type="text" class="form-control" placeholder="{{item.name}}" [(ngModel)]="editItem.name" required>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="{{item.type}}" [(ngModel)]="editItem.type" required>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="{{item.fav}}" [(ngModel)]="editItem.fav" required>
              </td>
              <td>
                  <input type="button" class="btn btn-primary" (click)=updateFav() value="SUBMIT">
              </td>
            </ng-container>

            <ng-template #getList>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.fav}}</td>
                <td> 
                  <span (click)="deleteFav(item.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                  <span (click)="editFav(item)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </span>
                </td>
            </ng-template>
            
          </tr>          
        </tbody>
      </table>
    </div>
    <div class= "col-sm-3">
    </div>  
  </div>  
</div>


<router-outlet></router-outlet>
